*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: 0 auto;
}
h1{
    padding: 10px;
}
img{
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.card{
    display: inline-block;
    width: 250px;
    height: 400px;
    background-color: floralwhite;
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text{
    text-align: center;
    margin: 20px auto;
    padding: 10px;
}
.text > h3{
    padding-bottom: 20px;
}